@import '../../main.scss';

.apropos {


    &__banner {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 4rem 1rem;

        h1 {
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h2 {
            font-family: Helvetica Neue LT Std;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__filter {
            display: flex;

            gap: 1.5rem;
            margin-top: 1.5rem;

            &__item {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                height: 10rem;
                width: 8rem;
                text-align: center;

                border-image: url("/svg/List/categoryBackground.svg") 30 / 0px;

                transition: 0.25s cubic-bezier(0.15, -0.56, 0.35, 2.41);

                img {
                    width: 102px;
                    height: 102px;
                    transition: 0.15s cubic-bezier(0.15, -0.56, 0.35, 2.41);
                    transform: scale(1) rotate(0deg);

                }

                p {
                    transition: 0.4s cubic-bezier(0.15, -0.56, 0.35, 2.41);
                    transform: scale(1) rotate(0deg);
                }


            }

            &__item:hover {
                border-image: url("/svg/List/categoryBackground.svg") 30 / 30px;

                img {
                    transform: scale(1.2) rotate(2deg);
                }

                p {
                    transform: scale(1.2) rotate(-2deg);
                }
            }
        }

        @media screen and (max-width: 768px) {
            h1 {
                font-size: 2rem;
                text-align: center;
            }

            h2 {
                font-size: 1rem;
                text-align: center;
            }

            &__filter {
                gap: 0;

                &__item {
                    height: 10rem;
                    width: 7.5rem;


                    img {
                        width: 80%;
                    }
                }

                &__item:hover{
                    p{
                        transform: scale(1.05) rotate(-2deg);
                    }
                }
            }



        }
    }

    &__body {
        width: 100%;
        overflow-x: hidden;

        &__rope {
            width: 110%;
        }

        &__item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 2rem 0;



            &__text {

                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5rem;
                width: 40%;
                min-width: 450px;

                h4 {
                    font-family: "Gloria";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    position: relative;
                    top: 2.5rem;
                }

                h3 {
                    color: var(--Noir, #242424);
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    font-family: "Gloria";
                }

                p {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            &__illu {
                width: 28.3555rem;
                flex-shrink: 0;
                display: flex;
                align-items: center;

                &__first {
                    position: relative;
                    top: -4rem;
                }
            }
        }

        &__techs {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;

            h3 {
                font-family: "Gloria";
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                margin-bottom: 2rem;

                align-self: flex-start;
                margin-left: 4rem;
            }

            &__item {

                display: flex;
                width: 75%;
                align-items: center;
                justify-content: space-between;

                max-width: 64.37494rem;

                &__text {

                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    h4 {
                        position: relative;

                        font-family: "Helvetica";
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        img {
                            position: absolute;
                            top: 50%;
                            left: -1rem;
                            transform: translate(-100%, -50%);
                        }
                    }

                    p {
                        max-width: 700px;

                        font-family: "Helvetica";
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                }

                &__illu {

                    img {
                        width: 14.31244rem;
                        height: 19.39rem;
                    }

                }
            }
        }

        @media screen and (max-width: 768px) {
            &__item {


                &__text {
                    width: 90%;
                    min-width: unset;

                    h3 {
                        font-size: 2rem;
                    }
                }

                &__illu {

                    width: 65%;
                    margin-bottom: -5%;

                    img {
                        top: -3.1rem;
                        width: 100%;
                    }
                }

            }

            &__techs {
                h3 {
                    margin: 2rem 5%;
                    font-size: 2rem;
                    margin-bottom: 0;
                }

                &__item{
                    flex-direction: column-reverse;
                    margin-bottom: 2rem;

                    &__illu{
                        margin: 2rem 0;
                        height: 15rem;

                        img{
                            height: 100%
                        }
                    }
                }
            }

        }
    }

    .left {
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }

    .right {
        flex-direction: row-reverse;
    }



    .apropos__body__item {
        align-items: flex-end;
    }
}