@import "../../main.scss";

.error{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 25vh 0;

    h1{
        margin-bottom: 1rem;
        width: 80%;
        line-height: 1.25;
    }

    p{
        margin-bottom: 2rem;
        width: 80%;
    }

    @media screen and (max-width: 768px){
        h1{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
    }
}