@import "../../main.scss";


.primaryButton {
    width: fit-content;
    height: fit-content;

    padding: 0.25rem;

    border-image: url('/svg/PrimaryButton/outside.svg') 20 / 40px;

    display: flex;
    transform: scale(1) rotate(0deg);
    transition: all 0.25s cubic-bezier(0.15, -0.56, 0.35, 2.41);

    .insideWrapper{
        border-image: url('/svg/PrimaryButton/inside.svg') 20 / 40px;
        padding: 0.05rem;
        width: fit-content;
        transform: scale(1) rotate(0deg);
        transition: all 0.15s cubic-bezier(0.15, -0.56, 0.35, 2.41);

        button {
            padding: 0.6rem 0.7rem;
            min-width: 100px;
        }   
    }
}

.primaryButton:hover{
    transform:  rotate(-1.3deg);

    .insideWrapper{
        transform: scale(1.1) rotate(0.5deg);
    }
}