* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
}

body {
    color: $black;
    background-color: $beige;
}

a {
    text-decoration: none;
}

h1 {
    font-family: $font-heading;
    ;
}

button {
    border: none;
    background-color: $black;
    color: $beige;

    text-align: center;
    font-family: Helvetica Neue LT Std;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    cursor: pointer;
}