@import "../../main.scss";

.cart{
    

    &__center{
        position: absolute;
        background-color: $beige;
        right: 0;
        top: 80px;
        padding: 20px;  
        z-index: 99;

        border: solid 5px $black;
        border-radius: 0 0 1rem  1rem ;

        filter: drop-shadow(0px 0px 10px $black);
    }
    
}