@import "../../main.scss";
@import "../../stylesheet/variables";

.carrousel {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;


    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: 40rem;

    .carrouselContainer {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        .carrouselWrapper {
            width: 200%;
            display: flex;
            gap: 0;
            margin-bottom: 4rem;
            flex-direction: row;
            justify-content: center;
            perspective: 1550px;


            .carrouselElement {
                position: relative;
                transition: all 0.5s;
                display: flex;
                flex-direction: column;
                align-items: center;
                transform-origin: top center;
                width: 25rem;


                .hanger {
                    position: relative;
                    top: 1.5rem;
                    z-index: 6;
                    width: 150%;
                }
            }

            .next4 {
                margin-top: 0rem;
                z-index: 0;
                transform: scale(0.75) translateY(-0.5rem) rotateY(-75deg);
            }

            .next3 {
                margin-top: 0rem;
                z-index: 1;
                transform: scale(0.75) translateY(-0.5rem) rotateY(-75deg);
            }

            .next2 {
                margin-top: 0rem;
                z-index: 2;
                transform: scale(0.8) translateY(-0rem) rotateY(-75deg);
            }

            .next1 {
                margin-top: 0rem;
                z-index: 3;
                transform: scale(0.85) translateY(-0rem) rotateY(-67deg);
            }

            .current {
                margin-top: 0rem;
                z-index: 5;
                transform: rotateY(0deg);
            }

            .previous1 {
                margin-top: 0rem;
                z-index: 3;
                transform: scale(0.85) translateY(-0rem) rotateY(67deg);
            }

            .previous2 {
                margin-top: 0rem;
                z-index: 2;
                transform: scale(0.8) translateY(-0rem) rotateY(75deg);
            }

            .previous3 {
                margin-top: 0rem;
                z-index: 1;
                transform: scale(0.75) translateY(-0.5rem) rotateY(75deg);
            }

            .previous4 {
                margin-top: 0rem;
                z-index: 0;
                transform: scale(0.75) translateY(-0.5rem) rotateY(75deg);
            }
        }
    }

    .carrouselPole {
        position: absolute;
        top: 2rem;
        width: 100%;
        overflow: hidden;    
        
        img{
            width: 100%;
            min-width: 1100px;
        }
    }

    .buttons {
        position: absolute;
        top: 50%;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 10%;

        

        section {
            cursor: pointer;
            width: 5.7095rem;
            height: 5.73563rem;
            flex-shrink: 0;
            transform: scale(1) rotate(0deg);
            transition: transform 0.15s cubic-bezier(0.15, -0.56, 0.35, 2.41);
        }

        section:first-child {
            rotate: 180deg;
        }

        section:hover {
            transform: scale(1.2) rotate(5deg);
        }

        @media screen and (max-width: 768px){
            top: 100%;
            transform: translateY(-110%);

            padding: 0 2%;

            section:hover{
                transform: scale(1) rotate(5deg);
            }
            
        }
    }

    .indicators {
        display: flex;
        width: 200px;
        justify-content: space-evenly;

        img {
            opacity: 50%;
            transition: all 0.25s;
            transform: scale(1);
        }

        .focused {
            opacity: 100%;
            transform: scale(1.2);
        }

        @media screen and (max-width: 768px){
            width: 125px;

            img{
                transform: scaleX(0.8);
            }

            .focused {
                transform: scale(1);
            }
            
        }

    }
}




.transition {
    transition: all 0.5s !important;
}

.noTransition {
    transition: none !important;
}

.deleted {
    width: 0 !important;
}