@import "../../main.scss";
@import "../../stylesheet/variables";

.carrousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carrouselContainer {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        .carrouselWrapper {
            width: 200%;
            display: flex;
            gap: 0;
            margin-top: 1.5rem;
            margin-bottom: 2.5rem;
            flex-direction: row;
            justify-content: center;

            .carrouselElement {
                position: relative;
                transition: all 0.5s;
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 50rem;


                .hanger {
                    position: relative;
                    top: 1.5rem;
                    z-index: 6;
                }
            }

            .next3 {
                margin-top: 0rem;
                z-index: 1;
                transform: rotate3D(0, 1, 0.01, 75deg) scale(0.8);
                width: 2rem;

            }

            .next2 {
                margin-top: 0rem;
                z-index: 2;
                transform: rotate3D(0, 1, 0.01, 75deg) scale(0.85);
                width: 2rem;

            }

            .next1 {
                margin-top: 0rem;
                z-index: 3;
                transform: rotate3D(0, 1, 0.08, 55deg) scale(0.9);
                width: 8rem;
            }

            .current {
                margin-top: 0rem;
                z-index: 4;
                transform: rotateY(0deg);
            }

            .previous1 {
                margin-top: 0rem;
                z-index: 3;
                transform: rotate3D(0, 1, 0.03, -60deg) scale(0.9);
                width: 8rem;
            }

            .previous2 {
                margin-top: 0rem;
                z-index: 2;
                transform: rotate3D(0, 1, 0.02, -75deg) scale(0.85);
                width: 2rem;

            }

            .previous3 {
                margin-top: 0rem;
                z-index: 1;
                transform: rotate3D(0, 1, 0.02, -75deg) scale(0.8);
                width: 2rem;

            }
        }
    }
}

.transition{
    transition: all 0.5s !important;
}

.noTransition {
    transition: none !important;
}

.deleted{
    width: 0 !important;
}