@import "../../main.scss";
@import "../../stylesheet/variables";



.cardHomepage {
    display: flex;

    flex-shrink: 0;

    border-radius: 1.00981rem;
    transition: all 1.5s;
    background-color: $beige;
    border: solid 20px ;

    border-image: url("/svg/CardHomePage/cardHomePage.png") 30 fill stretch;


    width: 165%;
    justify-content: center;

    @media screen and (max-width: 700px){
        width: 20rem;
        
    }


    .cardContent {

        height: 22.4375rem;

        max-width: 630px;

        padding: 1.8rem 2.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            color: $black;
            font-family: Helvetica;
            font-size: 1.81769rem;
            font-style: normal;
            font-weight: 700;
            line-height: 105%;

        }


        .cardContentImg {
            margin: 1.26rem 0;
            height: 8.53319rem;
        }

        .textContent {
            width: 34.99006rem;
            color: var(--Noir, #1E1E1E);
            text-align: center;
            font-family: Helvetica;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .cardButton {
            margin-top: 1rem;
        }

        @media screen and (max-width: 700px){
            height: 25rem;
            justify-content: space-around;

            .title {
                font-size: 1.25rem;
            }

            .cardContentImg {
                width: 19rem;
                object-fit: contain;
            }

            .textContent {
                width: 85%;
                font-size: 1rem;
            }
            
        }
    }

    .top {
        position: relative;
        top: -2%;
        left: -1.25%;
        width: 102.5%;
    }

    .bottom {
        position: relative;
        left: -1.25%;
        top: 0.9%;
        width: 102.5%;
    }
}