@import "../../main.scss";

.navbar {
    height: 80px;
    background-color: $black;
    z-index: 6;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 20px;

        .left{
            .item{
                transform: rotate(0deg) scale(1);
                transition: all 0.15s cubic-bezier(0.15, -0.56, 0.35, 2.41);
            }

            .item:hover{
                transform: rotate(-3deg) scale(1.2);
            }
        }

        .right {
            display: flex;
            gap: 30px;

            a {
                color: $beige;
                text-decoration: none;
                font-size: 18px;
                font-weight: 500;
                transition: all 0.15s cubic-bezier(0.15, -0.56, 0.35, 2.41);

                &:hover {
                    transform: rotate(1deg) scale(1.1);
                }
            }

            .item-cart {
                position: relative;
                cursor: pointer;
                transform: scale(1) rotate(0);

                transition: transform 0.25s cubic-bezier(0.15, -0.56, 0.35, 2.41);

                .item-count {
                    font-size: 10px;
                    font-family: 'Gloria';
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $black;
                    border: $beige 2px solid;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    color: $beige;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transform: scale(1);

                    transition: transform 0.15s cubic-bezier(0.15, -0.56, 0.35, 2.41);
                }
            }

            .item-cart:hover {
                transform: rotate(1deg) scale(1.1);
                .item-count{
                    transform: scale(1.2);
                }
            }
        }


    }
}

