@import '../../main.scss';

.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: fit-content;

    color: $black;

    &__title {
        text-align: center;
        font-family: Helvetica;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__illustration {
        position: relative;
        width: 228px;
        height: 242px;

        &__pin {
            position: absolute;
            left: 51%;
            top: -5%;
            transform: translateX(-50%);
            z-index: 5;
            width: 85px;
        }

        &__image {
            position: relative;
            width: 100%;
            height: 100%;
            mix-blend-mode: darken;
            z-index: 4;
        }
    }

    &__price {
        text-align: center;
        font-family: Helvetica;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}